{{#> _wrappers/auth-wrapper}}
<main class="auth-body">

    {{#if success}}
    <div class="auth-box">

        <h3>Đổi mật khẩu</h3>
        <input type="email" id="token" name="token" value="{{token}}" hidden disabled required>

        <div class="form-group">
            <label>Email</label>
            <input type="email" id="email" name="email" value="{{email}}" disabled required>
        </div>

        <div class="form-group">
            <label>Mật khẩu mới</label>
            <input type="password" id="newPassword" name="newPassword" required>
        </div>

        <div class="form-group">
            <label>Nhập lại mật khẩu mới</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        <button type="submit" class="btn primary" id="resetBtn">Cập nhật mật khẩu</button>
    </div>
    {{else}}
    <p>{{message}}</p>
    {{/if}}


</main>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const resetBtn = document.getElementById('resetBtn');

        resetBtn.addEventListener('click', async () => {
            const email = document.getElementById('email').value;
            const token = document.getElementById('token').value;
            const password = document.getElementById('newPassword').value;
            const confirmPassword = document.getElementById('confirmPassword').value;

            if (!password || !confirmPassword) {
                return showToast('Vui lòng nhập đầy đủ mật khẩu.', 'error');
            }

            if (password !== confirmPassword) {
                return showToast('Mật khẩu xác nhận không khớp.', 'error');
            }

            try {
                showLoading('Đang cập nhật mật khẩu...');
                const res = await fetch('/api/reset-password', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        email,
                        token,
                        password,
                        confirmPassword
                    })
                });

                const data = await res.json();
                hideLoading();

                if (data.success) {
                    setSessionToast(
                        data.message || 'Đổi mật khẩu thành công. Vui lòng đăng nhập.',
                        'success'
                    );
                    window.location.href = '/login';
                } else {
                    showToast(data.message || 'Không thể đổi mật khẩu.', 'error');
                }

            } catch (err) {
                hideLoading();
                showToast('Đã xảy ra lỗi. Vui lòng thử lại.', 'error');
            }
        });
    });
</script>

{{/ _wrappers/auth-wrapper}}