$color-white: #FFFFFF;
$color-black: #000000;

// Màu trạng thái / accent
$color-accent-1: #00B69B;
$color-accent-2: #6226EF;
$color-accent-3: #EF3826;
$color-accent-4: #FFA756;
$color-accent-5: #BA29FF;
$color-accent-6: #4880FF;

$zindex-modal: 1000;
$zindex-confirm: 1100;
$zindex-loading: 1100;
$zindex-toast: 1200;

$margin-step: 12px;
$padding-step: 12px;
