<!-- Confirm Modal + Overlay riêng -->
<div id="globalConfirmWrapper" class="confirm-wrapper d-none">
    <div class="confirm-overlay"></div>
    <div id="globalConfirmModal" class="confirm-modal">
        <div class="confirm-content">
            {{!-- <h3>Xác nhận</h3> --}}
            <p id="globalConfirmMessage"></p>
            <div class="confirm-buttons">
                <button id="globalConfirmCancel">Hủy</button>
                <button id="globalConfirmOk">Đồng ý</button>
            </div>
        </div>
    </div>
</div>