<!-- Loading Modal -->
<div id="globalLoadingWrapper" class="loading-wrapper d-none">
    <div class="loading-overlay"></div>
    <div id="globalLoading" class="loading">
        <div class="spinner"></div>
        <div id="globalLoadingMessage" class="loading-message">Đang tải...</div>
    </div>
</div>