<!-- Toast -->
<div id="globalToast" class="toast">
    <div class="toast-left">
        <i id="globalToastIcon" class="toast-icon bi"></i>
        <div id="globalToastMessage">Test message</div>
    </div>
    <button id="globalToastClose">
        <i class="bi bi-x-lg"></i>
    </button>
</div>